<template >
  <div class="container-fluid bg-primary mt-3 p-4">
    <form @submit.prevent="add" class="form d-flex flex-column align-items-center  ">
      <div class="list mb-0">
        <div class="mb-1"><input type="text" v-model="form.name" placeholder="Як вас мама з тато назвали"></div>
        <div class="mb-1"><input type="number" v-model="form.age" placeholder="Скільки вам рочків"></div>
        <div class=" "><textarea v-model="form.comment" placeholder="Пару слів про себе"></textarea></div>
      </div>
      <div class="mb-4">
        <input type="submit" value="Save" class="">


      </div>
    </form>
    <div class="list row">
      <div class="col-3" v-for="(item,index) in itemForShow" :key="index">
        <div class="card w-50 mb-3 ">
          <div class="card-body">
            <h5 class="card-title">{{ item.name + '/' + item.age }}</h5>
            <p class="card-text">{{ item.comment }}</p>
          </div>
        </div>
      </div>

    </div>
    <nav aria-label="Page navigation example" class="d-flex flex-column align-items-center">
      <ul class="pagination">
        <li class="page-item" :class="{disabled: !havePrev}"><a class="page-link"
                                                                :style="{pointerEvents: !havePrev? 'none' : 'auto'}"
                                                                href="#"
                                                                @click.prevent="page -= 1">Previous</a></li>

        <li v-for="p in pageCount" class="page-item" :class="{active: page === p}" :key="p"><a class="page-link" href="#" @click.prevent="page = p">{{ p }}</a></li>

        <li class="page-item" :class="{disabled: !haveNext}"><a class="page-link"
                                                                :style="{pointerEvents: !haveNext? 'none' : 'auto'}"
                                                                href="#"
                                                                @click.prevent="page += 1">Next</a></li>
      </ul>
    </nav>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {},
  data: () => ({
    form: {
      name: '',
      age: '',
      comment: ''
    },
    array: [],
    page: 1,
    limit: 10

  }),

  mounted() {
    this.loadFromLocalStorage();
  },

  computed: {
    firstIndexOnPage() {
      return (this.page - 1) * this.limit

    },
    itemForShow() {
      return this.array.slice(this.firstIndexOnPage, this.firstIndexOnPage + this.limit)
    },
    pageCount() {
      return Math.ceil(this.array.length / this.limit)
    },
    havePrev() {
      return this.page - 1 > 0
    },
    haveNext() {
      return this.page + 1 <= this.pageCount
    },
  },


  methods: {
    add() {
      if (!this.form.name.trim()) return
      // if(!this.form.name.trim() || !this.form.age.trim()) return;
      //
      // const existingItem = this.array.find(item => item.name === this.form.name && item.age === this.form.age);
      // if (existingItem) {
      //   alert('Картка з таким персонажем уже існує');
      //   return;
      // }


      const obj = {
        name: this.form.name,
        age: this.form.age,
        comment: this.form.comment,
      }

      this.array.push(obj)

      this.form.name = ''
      this.form.age = ''
      this.form.comment = ''

      this.saveToLocalStorage();

    },

    saveToLocalStorage() {
      localStorage.setItem('myFormArray', JSON.stringify(this.array));
    },

    loadFromLocalStorage() {
      const data = localStorage.getItem('myFormArray');
      if (data) {
        this.array = JSON.parse(data);
      }
    },

  }
}

</script>

<style>

</style>
